body {
    margin: 0;
}

nav ul {
    padding-left: 0px;
}

main {
    width: 70%;
    border: 5px burlywood;
    border-style: dashed;
    padding: 1em 2em;
    background-color: aliceblue;
    margin: 0 auto;
}